<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="nl.surfnet.coin.stoker" level="DEBUG"/>
  <!-- Putting org.apache.http.wire on DEBUG will log oauth secrets in PLAIN text since the API requires that -->
  <logger name="org.apache.http.wire" level="WARN"/>
</configuration>
