.mod-overview-search .search, .mod-overview-list, .mod-newserviceprovider .serviceprovider-container,
.box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.z2 {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }

.padding {
  padding: 2rem; }

.v-center {
  display: table;
  width: 100%;
  height: 100%; }
  .v-center .inner {
    display: table-cell;
    vertical-align: middle; }

.h-center {
  margin-left: auto;
  margin-right: auto; }

/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.mod-overview-search table, .mod-overview-list table {
  width: 100%; }
.mod-overview-search th, .mod-overview-list th, .mod-overview-search td, .mod-overview-list td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  padding: 20px; }
  .mod-overview-search th:first-child, .mod-overview-list th:first-child, .mod-overview-search td:first-child, .mod-overview-list td:first-child {
    padding-left: 30px; }
  .mod-overview-search th:last-child, .mod-overview-list th:last-child, .mod-overview-search td:last-child, .mod-overview-list td:last-child {
    padding-right: 30px; }
.mod-overview-search tbody tr:last-child td, .mod-overview-list tbody tr:last-child td,
.mod-overview-search tbody tr:last-child th,
.mod-overview-list tbody tr:last-child th {
  border: 0; }
.mod-overview-search th, .mod-overview-list th {
  padding: 15px 20px; }
  .mod-overview-search th a, .mod-overview-list th a {
    color: inherit;
    text-decoration: none; }
    .mod-overview-search th a:hover, .mod-overview-list th a:hover {
      color: #4DB3CF;
      text-decoration: underline; }
      .mod-overview-search th a:hover .fa, .mod-overview-list th a:hover .fa {
        color: #4DB3CF; }
.mod-overview-search .fa, .mod-overview-list .fa {
  color: #a2a2a2;
  padding: 0 15px; }
  .mod-overview-search .fa.fa-sort-asc, .mod-overview-list .fa.fa-sort-asc, .mod-overview-search .fa.fa-sort-desc, .mod-overview-list .fa.fa-sort-desc {
    color: #4DB3CF; }
.mod-overview-search .date, .mod-overview-list .date,
.mod-overview-search .number,
.mod-overview-list .number,
.mod-overview-search .right,
.mod-overview-list .right {
  text-align: right; }
.mod-overview-search .yes, .mod-overview-list .yes {
  color: #95b926; }
.mod-overview-search .no, .mod-overview-list .no {
  color: #dd3939; }
.mod-overview-search .percent_5, .mod-overview-list .percent_5 {
  width: 5%; }
.mod-overview-search .percent_10, .mod-overview-list .percent_10 {
  width: 10%; }
.mod-overview-search .percent_15, .mod-overview-list .percent_15 {
  width: 15%; }
.mod-overview-search .percent_20, .mod-overview-list .percent_20 {
  width: 20%; }
.mod-overview-search .percent_25, .mod-overview-list .percent_25 {
  width: 25%; }
.mod-overview-search .percent_30, .mod-overview-list .percent_30 {
  width: 30%; }
.mod-overview-search .percent_35, .mod-overview-list .percent_35 {
  width: 35%; }
.mod-overview-search .percent_40, .mod-overview-list .percent_40 {
  width: 40%; }
.mod-overview-search .percent_45, .mod-overview-list .percent_45 {
  width: 45%; }
.mod-overview-search .percent_50, .mod-overview-list .percent_50 {
  width: 50%; }
.mod-overview-search .percent_55, .mod-overview-list .percent_55 {
  width: 55%; }
.mod-overview-search .percent_60, .mod-overview-list .percent_60 {
  width: 60%; }
.mod-overview-search .percent_65, .mod-overview-list .percent_65 {
  width: 65%; }
.mod-overview-search .percent_70, .mod-overview-list .percent_70 {
  width: 70%; }
.mod-overview-search .percent_75, .mod-overview-list .percent_75 {
  width: 75%; }
.mod-overview-search .percent_80, .mod-overview-list .percent_80 {
  width: 80%; }
.mod-overview-search .percent_85, .mod-overview-list .percent_85 {
  width: 85%; }
.mod-overview-search .percent_90, .mod-overview-list .percent_90 {
  width: 90%; }
.mod-overview-search .percent_95, .mod-overview-list .percent_95 {
  width: 95%; }
.mod-overview-search .percent_100, .mod-overview-list .percent_100 {
  width: 100%; }

.l-main {
  padding: 30px; }
  .l-main:after {
    content: "";
    display: table;
    clear: both; }
  .l-main .l-left {
    width: 300px;
    padding-right: 30px;
    float: left; }
  .l-main .l-right {
    margin-left: 300px;
    padding-left: 30px; }

.l-center {
  margin: 0 auto;
  padding: 30px;
  position: relative; }
  .l-center:after {
    content: "";
    display: table;
    clear: both; }
  .l-center .l-left {
    width: 200px;
    float: left;
    padding-right: 30px; }
  .l-center .l-right {
    float: right;
    width: 300px;
    padding-left: 30px;
    right: 0; }
  .l-center .l-middle {
    padding: 30px;
    padding-right: 300px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto; }

.l-mini {
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
  position: relative; }
  .l-mini:after {
    content: "";
    display: table;
    clear: both; }

body {
  background: #EFEFEE; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: #2b3f44;
  -webkit-font-smoothing: antialiased; }

blockquote {
  margin-bottom: 2rem; }

a {
  color: #4DB3CF; }
  a:hover {
    text-decoration: underline; }

.mod-overview-search h1, .mod-newserviceprovider h1, .mod-error h1 {
  font-size: 30px;
  line-height: 40px; }

.mod-header .title {
  font-size: 20px;
  line-height: 30px; }

.mod-overview-search th, .mod-overview-list th {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 5px; }

body {
  font-size: 14px;
  line-height: 20px; }

form input[type=text] {
  font-size: 20px;
  padding: 5px; }
  form input[type=text].field-error {
    border: solid 1px #dd3939; }
    form input[type=text].field-error:focus {
      outline-color: #dd3939; }
form ul {
  float: right; }
  form ul li.field-error {
    list-style: none;
    color: #dd3939;
    line-height: 20px;
    padding: 5px; }
form .buttons {
  margin: 20px 0; }

.mod-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px; }
  .mod-footer:after {
    content: "";
    display: table;
    clear: both; }
  .mod-footer ol, .mod-footer ul {
    list-style: none; }
  .mod-footer li {
    float: left;
    margin-left: 10px; }
  .mod-footer a {
    display: block;
    line-height: 40px; }

.mod-header {
  padding: 20px 30px;
  background: #fff;
  border-bottom: 2px solid #4DB3CF; }
  .mod-header:after {
    content: "";
    display: table;
    clear: both; }
  .mod-header .title {
    float: left; }
  .mod-header .meta {
    float: right; }
  .mod-header .name {
    float: left;
    line-height: 30px; }

.mod-overview-search h1 {
  margin-bottom: 20px; }
.mod-overview-search .search {
  margin-bottom: 30px;
  position: relative; }
  .mod-overview-search .search fieldset {
    border: 0;
    padding: 0;
    margin: 0; }
  .mod-overview-search .search button {
    display: none; }
  .mod-overview-search .search input {
    display: block;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    padding-left: 60px;
    font-size: 20px;
    -webkit-appearance: none; }
  .mod-overview-search .search .fa-search {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 20px; }

.mod-overview-list #search-results td {
  word-break: break-all;
  width: 50%; }
.mod-overview-list #search-results tr:hover {
  background-color: #4DB3CF;
  cursor: pointer; }
.mod-overview-list #search-results tr.hidden {
  display: none; }

.mod-newserviceprovider h1 {
  margin-bottom: 20px; }
.mod-newserviceprovider .serviceprovider-container {
  padding: 40px;
  position: relative; }

.mod-invite ul {
  list-style: none; }
.mod-invite table {
  margin: 25px 0; }
  .mod-invite table th, .mod-invite table td {
    text-align: left;
    width: 50%; }
  .mod-invite table td:first-of-type {
    padding-right: 50px; }

.mod-flash .flash-notice {
  text-align: center;
  color: white;
  margin-top: 10px;
  position: absolute;
  right: 50%;
  left: 50%;
  top: 65px;
  padding: 5px 20px;
  margin-left: -150px;
  margin-right: -150px;
  border: 1px solid #4DB3CF;
  border-radius: 3px;
  background-color: #4DB3CF;
  z-index: 1000; }
  .mod-flash .flash-notice.hidden {
    display: none; }
  .mod-flash .flash-notice a.close {
    float: right;
    margin-right: -10px;
    margin-top: 0px;
    display: block;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none; }
    .mod-flash .flash-notice a.close.visited, .mod-flash .flash-notice a.close.hover {
      text-decoration: none; }

.mod-error h1 {
  margin-bottom: 20px; }

.c-button {
  background: #4DB3CF;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: inline-block; }
  .c-button:hover {
    background: #319bb8; }
  .c-button.narrow {
    padding: 3px 10px; }
  .c-button.disabled {
    opacity: 0.5;
    pointer-events: none; }

input[type=submit].c-button, button.c-button {
  border: none;
  font-size: 100%; }

/*# sourceMappingURL=application.css.map */
