<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">
  <div class="l-mini">

    <div class="mod-overview-search">
      <h1 th:text="#{index.title}"></h1>

      <div class="search">
        <fieldset>
          <i className="fa fa-search"/>
          <input id="search-service-providers" type="search" th:placeholder="#{index.search.placeholder}" data-url="/shib/service-providers.json"/>

          <button type="submit" th:text="#{index.search.button}"></button>
        </fieldset>
      </div>


    </div>

    <div class="mod-overview-list">
      <table id="search-results">
        <tbody>
        <tr th:each="sp : ${serviceProviders}" class="hidden" th:attr="data-sp-name=@{${sp.displayNameEn}}">
          <td th:text="${sp.displayNameEn}">Name</td>
          <td th:text="${sp.entityId}">SP Entity ID</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
