<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">
  <span sec:authentication="name">Bob</span>
  <form name="add-service-provider" th:action="@{/service-provider}" th:object="${serviceProvider}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div th:include="forms :: textfield(fieldName=entityId)"/>
    <div th:include="forms :: textfield(fieldName=entityId)"/>
  </form>

</div>
</body>
</html>
