<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">
  <div class="l-mini">

    <div class="mod-invite">

      <h1 th:text="#{invite.title}"></h1>

      <div>
        <table>
          <thead>
            <tr>
              <th th:text="#{invite.name}">
                Name
              </th>
              <th th:text="#{invite.email}">
                Email
              </th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="contactPerson : ${serviceProvider.contactPersons}">
              <td th:text="${contactPerson.fullName}">

              </td>
              <td th:text="${contactPerson.emailAddress}">

              </td>
            </tr>
          </tbody>
        </table>
        <form th:action="@{/fedops/invite}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <input type="hidden" th:name="spEntityId" th:value="${serviceProvider.entityId}"/>
          <input type="submit" class="c-button" value="Send invite"/>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
