<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">
  <div class="l-mini">

    <div class="mod-newserviceprovider">

      <h1 th:text="#{new.title}"></h1>

      <div class="serviceprovider-container">
        <form name="add-service-provider" th:action="@{/service-provider/${invitationId}}" th:object="${oauthSettings}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

          <div class="fields">
            <div th:include="forms :: textfield(fieldName=secret)"/>
            <div th:include="forms :: textfield(fieldName=consumerKey)"/>
            <div th:include="forms :: textfield(fieldName=callbackUrl)"/>
          </div>
          <div class="buttons">
            <input type="submit" class="c-button" value="Save"/>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
</body>
</html>
